html, body {
  margin: 2rem;
  padding: 0;
  font-family: 'Corben', cursive;
  background-color: #F4ECD3;
}

canvas {
  display: block;
}


.info {
  width: 95%;
  height: 2rem;
  padding: 2rem;
  margin-bottom: 6rem;
}

h1 {
  text-align: center;
  font-size: 46pt;
  color: #005F73;
}

p {
  color: #005F73;
  font-size: 16pt;
}

ol {
  color: #005F73;
  font-size: 16pt;
  line-height: 2;
  padding: 2rem;
}

.labeltype {
  color: #005F73;
  font-size: 20pt;
  font-weight: 700;
}

.instructions {
  padding: 2rem;
}

ul {
  color: #F4ECD3;
  font-size: 12pt;
  width: 40rem;
}

.descriptors {
  width: 45rem;
  height: 29rem;
  padding: 1rem;
  background-color: #005f73;
  margin-bottom: 5rem;
}

a {
  color: #AE2012;
}
